
.menu{
    display: flex;
    align-self: stretch;
    padding: 0px 8px;
    flex: 1 1 auto;
    overflow: auto;
    transition: -ms-flex 0.2s,-webkit-flex 0.2s,flex 0.2s, width 0.2s, opacity 0.2s;
    opacity: 1;
}

.menu-item {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    white-space: nowrap;
}

.menu-link{
    display: inline-flex;
    line-height: 1em;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s ease-out;
    text-decoration: none;
    border-color: transparent;
    background-color: transparent;
    height: 40px;
    padding: 0 24px;
    color: #744cbc;
}