.app-submenu {
  border-bottom: 1px solid #d4dadf;
  box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
  z-index: 20;
  display: flex;
  align-items: stretch;
  position: relative;
  min-height: 45px;
  flex: 0 1 auto;
  background: #d4dadf; }
  .app-submenu .app-container {
    align-items: center; }
  .app-submenu .menu {
    display: flex;
    align-self: stretch;
    padding: 0px 8px;
    flex: 1 1 auto;
    overflow: auto;
    transition: -ms-flex 0.2s,-webkit-flex 0.2s,flex 0.2s, width 0.2s, opacity 0.2s;
    opacity: 1; }
  .app-submenu .menu-item {
    display: flex;
    height: 100%;
    align-items: center;
    border-bottom: 3px solid transparent;
    border-top: 3px solid transparent;
    white-space: nowrap;
    padding: 4px 0; }
  .app-submenu .menu-link {
    display: inline-flex;
    line-height: 1em;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.2s ease-out;
    text-decoration: none;
    border-color: transparent;
    padding: 0 12px;
    color: #000;
    background: #fff;
    height: 100%;
    font-size: 12px; }
