html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* needed for proper layout */
  font-family: sans-serif;
  display: flex;
  flex-direction: column; }

.app-footer {
  display: flex;
  flex: 0 1 auto; }

.app-header {
  background: #fff;
  border-bottom: 1px solid #d4dadf;
  box-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);
  z-index: 20;
  display: flex;
  align-items: stretch;
  position: relative;
  min-height: 80px;
  flex: 0 1 auto; }
  .app-header .app-container {
    align-items: center; }

.app-page {
  flex: auto;
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-flow: column; }

.app-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: left;
  padding: 0;
  flex: auto; }

.app-content {
  padding-top: 1rem;
  flex: 1 1 auto; }
